/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.c-pointer {
  cursor: pointer;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mat-divider {
  border-top-color: #E9E6F0;
}

.centerise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  visibility: hidden !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

::-webkit-scrollbar {
  width: 8px;
  /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #fff;
  /* Background color of the scrollbar track */
  // border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9695A6;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
}
