.filter-options {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__subfilter {
    list-style-type: none;
    margin: unset;
    padding-inline-start: 10px !important;
  }

}

.mat-expansion-panel-header {
  font-weight: normal !important;
}
