<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ filterTitle() }} </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="filter-options">
      @for (filter of filters(); track filter; let index = $index) {
        <div>
          <mat-checkbox
            [checked]="filter.state().completed"
            [indeterminate]="filter.state().indeterminate"
            (change)="updateFilter($event.checked, index)"
          >
            {{ filter.name }}
          </mat-checkbox>
          <ul class="filter-options__subfilter">
            @for (
              subfilter of filter.subfilters;
              track subfilter;
              let subIndex = $index
            ) {
              <li>
                <mat-checkbox
                  [checked]="subfilter.completed()"
                  (change)="updateFilter($event.checked, index, subIndex)"
                >
                  {{ subfilter.name }}
                </mat-checkbox>
              </li>
            }
          </ul>
        </div>
      }
    </div>
    <mat-action-row>
      <button mat-button (click)="selectAll()" [disabled]="store.allFiltersApplied()">
        {{ locale().select_all }}
      </button>
      <button mat-button (click)="clearAll()" [disabled]="store.noFiltersApplied()">
        {{ locale().clear_all }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
