<div class="search-box" (click)="searchInp.focus()">
  <span class="material-symbols-outlined material-symbols-outlined-fill search-box__icon">
    {{ icon() }}
  </span>
  <input
    type="search"
    class="search-box__search-input"
    [placeholder]="placeholder()"
    [readonly]="readonly()"
    #searchInp
    [class.c-pointer]="readonly()"
    [attr.ngClass]="{
      'search-box__search-input--inactive': !searchInp.value,
      'search-box__search-input--active': searchInp.value,
    }"
  />
  <span class="search-box__shortcut-key">{{ shortcutKey() }}</span>
</div>
