$text-dark: #25282C;
$text-light: #9695A6;
$primary-color: #7571BD;
// $overdue: #E70000;
$overdue: #BF5C8E;
// $due-today: #F15E1F;
$due-today: #CC9D39;
// $due-in-future: #00AC4F;
$due-in-future: #42A6A6;
$hover-bg-color: #F4F3F8;
$new-info: #ECA417;
$error: #E51717;
